/*
* @Author: 89333
* @Date:   2018-08-10 09:24:32
* @Last Modified by:   89333
* @Last Modified time: 2018-09-18 18:39:55
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 44px;
	background: #333;
	padding-left: 158px;
	padding-right:158px;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
}
header a{
	font-size: 12px;
	color: #fff;
	line-height: 44px;
	/* text-decoration: none; */
}
header a.list{
	display: none;
}
nav{
    width: 100%;
    height: 44px;
    background: #333333;
    z-index: 900;
}
nav .container{
	padding-left: 58px;
	padding-right:58px;
	display: flex;
    justify-content: space-between;
}
nav ul li{
    cursor: pointer;
}
nav ul li a,i{
    font-size: 12px;
    color: white;
    display: block;
    height: 44px;
    line-height: 44px;
}
nav .iconfont{
    font-size: 20px;
}
nav ul li:hover a,
nav ul li:hover i{
    color: #b7b7b7;
}
.meaubox{
    width: 100%;
    /*height: 900px;*/
    height: 0;
    overflow: hidden;
    background: #000;
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0;
    transition: all .5s;
}
.meaubox .top{
    width: 100%;
    height: 101px;
    border-bottom: 1px solid #282828;
    box-sizing: border-box;
    position: relative;
}
.meaubox .top ul{
    width: 100%;
    height: 48px;

}
.meaubox .top ul li{
    width: 48px;
    height: 48px;
    float: left;
    margin-left: 6px;
}
.meaubox .top ul li .iconfont{
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 48px;
} 
.meaubox .top ul li:first-child{
    margin-right: 284px;
}
.meaubox .top ul li a:hover .iconfont{
    color: #b7b7b7;
}
.meaubox input{
    width: 584px;
    height: 37px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    background: #282828;
    outline: none;
    border: none;
    padding-left: 30px;
    box-sizing: border-box;
}
.meaubox input::-webkit-input-placeholder{
    font-size: 14px;
    color: #999999;
}
.meaubox .sousuo{
    width: 28px;
    height: 37px;
    position: absolute;
    top: 48px;
    left: 56px;
}
.meaubox .sousuo .iconfont{
    font-size: 16px;
    color: #979797;
    text-align: center;
    line-height: 37px;
}
.meaubox .bottom{
     width: 100%;
     height: 264px;
    padding: 0 65px;
    box-sizing: border-box;
     margin: 4px 0 0;
 }
.meaubox .bottom li{
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #282828;
    box-sizing: border-box;
}
.meaubox .bottom li:last-child{
    border-bottom: none;
}
.meaubox .bottom li a{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 14px;
    color: white;
    line-height: 43px;
}
.meaubox .bottom li:hover a{
    color: #b7b7b7;
}
.iphonex{
	width: 100%;
	height: 580px;
	background-image: url('https://www.apple.com/v/home/ds/images/heroes/iphone-x/iphone_x_large.jpg');
	background-repeat: no-repeat;
	background-color: #fafafa;
	background-position: center bottom;
	margin-bottom: 20px;
}
.iphonex h3{
	text-align: center;
	padding-top: 50px;
	font-size: 40px;
	margin-bottom: 24px;
	color: #000;
}
.iphonex p{
	text-align: center;
	font-size: 26px;
	margin-bottom: 24px;
	color: #333;
}
.iphonex .link{
	text-align: center;
}
.iphonex .link a{
	text-decoration: none;
	font-size: 18px;
	color: #0070C9;
}
.iphonex .link a:nth-child(1){
	margin-right: 30px;
}
.ipd{
	width: 100%;
	height: 580px;
	background-image: url('https://www.apple.com/cn/home/images/heroes/ipad_large.jpg');
	background-repeat: no-repeat;
	background-color: #F5F5F5;
	background-position: center bottom;
}
.ipd h3{
	text-align: center;
	padding-top: 50px;
	font-size: 40px;
	margin-bottom: 24px;
	color: #000;
}
.ipd p{
	text-align: center;
	font-size: 26px;
	margin-bottom: 24px;
	color: #333;
}
.ipd .link{
	text-align: center;
}
.ipd .link a{
	font-size: 18px;
	color: #0070C9;
}
.ipd .link a:nth-child(1){
	margin-right: 30px;
}
.pro{
	width: 100%;
	height: 580px;
	background-image: url('https://www.apple.com/cn/home/images/heroes/macbook-pro/macbook_pro_performance_large.jpg');
	background-repeat: no-repeat;
	background-color: #131218;
	background-position: center bottom;
}
.pro h3{
	text-align: center;
	padding-top: 50px;
	font-size: 40px;
	margin-bottom: 24px;
	color: #fff;
}
.pro p{
	text-align: center;
	font-size: 26px;
	margin-bottom: 24px;
	color: #fff;
}
.pro .link{
	text-align: center;
}
.pro .link a{
	text-decoration: none;
	font-size: 18px;
	color: #fff;
}
.pro .link a:nth-child(1){
	margin-right: 30px;
}
.adv{
	width: 100%;
}
.adv ul li{
	width: 50%;
	height: 580px;
	border: 14px solid #fff;
	float: left;
	background: yellow;	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.adv ul li h3{
	font-size: 30px;
	margin-bottom: 16px;
	text-align: center;
	color: #fff;
}
.adv ul li:nth-child(1) h3,.adv ul li:nth-child(4) h3,.adv ul li:nth-child(5) h3{	
	color: #000;		
}
.adv ul li p{	
	font-size: 17px;
	text-align: center;
	color: #fff;
	/* float: left;	 */
	margin-bottom: 16px;
}
.adv ul li:nth-child(1) p,.adv ul li:nth-child(4) p,.adv ul li:nth-child(5) p{
	color: #333;
}
.adv ul li .look{
	text-align: center;
}
.adv ul li a{	
	font-size: 13px;
	color: #fff;	
}
.adv ul li a:nth-child(1){
	margin-right: 30px;
}
.adv ul li:nth-child(1) a,.adv ul li:nth-child(4) a,.adv ul li:nth-child(5) a{
	color: #333;
}
.adv ul li:nth-child(2n+1){
	border-right: none;
}
.adv ul li:nth-child(1){
	background-image: url('https://www.apple.com/cn/home/images/promos/shop_for_college_large.jpg');
	border-bottom: none;
}
.adv ul li:nth-child(1) h3{
	padding-top: 56px;
}
.adv ul li:nth-child(2){
	background-image: url('https://www.apple.com/v/home/ds/images/promos/behind_the_mac_phoebe_large.jpg');
	border-bottom: none;
}
.adv ul li:nth-child(2) h3{
	padding-top: 416px;
}
.adv ul li:nth-child(3){
	background-image: url('https://www.apple.com/cn/home/images/promos/iphone_x_a11_large.jpg');
	border-bottom: none;
}
.adv ul li:nth-child(3) h3{
	padding-top: 416px;
}
.adv ul li:nth-child(4){
	background-color: #F9F0EB;
	border-bottom: none;
}
.adv ul li:nth-child(4) .imgee{
 	width: 100%;
 	height: 390px;
 	background-image: url('https://www.apple.com/v/home/ds/images/promos/iphone_8_large.jpg');
	background-position: top center;
	background-repeat: no-repeat;
 	padding-left: 200px;
}
.adv ul li:nth-child(4) h3{
	padding-top: 56px;
}
.adv ul li:nth-child(4) a{
	color: #0070C9;
}
.adv ul li:nth-child(5){
	background-image: url('https://www.apple.com/cn/home/images/half-width-promos/trade_up_large.jpg');
}
.adv ul li:nth-child(5) h3{
	padding-top: 56px;
}
.adv ul li:nth-child(6){
	background-color: #000;	
}
.adv ul li:nth-child(6) .imge{
 	width: 100%;
 	height: 300px;
 	background-image: url('https://www.apple.com/cn/home/images/promos/three_rings_large.jpg');
	background-position: top center;
	background-repeat: no-repeat;
 	padding-left: 200px;
}
.adv ul li:nth-child(6) h3{
	padding-top: 56px;
}
footer{
	width: 100%;
	height: 347px;
	background: #F2F2F2;
	margin-top: 1740px;
}
footer .box{
	width:15%;
	height: 350px;
	/* background: red; */
	/* margin: 0 auto; */
	float: left;
}
footer .box:nth-child(1){
	margin-left: 12%;
}
footer .box dl{
	padding-top: 40px;
}
footer .box dl dt{
	font-size: 12px;
	color: #333;
	margin-bottom: 10px;
}
footer .box dl dd a{
	font-size: 12px;
	color: #5F5A5A;
	margin-bottom: 10px;
}
footer .box dl dd a:hover{
	text-decoration: : underline;
}
footer .box dl dt.text{
	margin-top: 20px;
}
footer .box .add{
	display: none;
}
footer .box hr{
	display: none;
}
.footer1{
	display: none;
}
.footer{
	width: 100%;
	height: 100px;
	background: #F2F2F2;
}
.footer .line{
	width: 75%;
	height: 22px;
	margin-left: 12%;	
}
.footer .line p, .footer .line .two{
	font-size: 12px;
	color: #888;	
}
.footer .line a{
	color: #0070C9;
}
.footer .line a:hover{
	text-decoration: underline;
}
.footer .line hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
.footer .line .word{
	color: #555;
	font-size: 12px;
	margin-left: 10px;
	margin-right: 10px;
}
.footer .line .word1{
	margin-left: 0;
}
.footer .line .one{
	color: #9C9999;
	margin-top: 15px;
}
.footer .line .three{
	color: #D6D6D6;
	font-size: 12px;
}
.footer .line .num{
	color: #9c9999;
}
.footer .line .country{
	color: #555;
	font-size: 12px;
	float: right;
}










/* 中屏 */
@media screen and (max-width: 1200px){
	.iphonex{
		background-image: url('https://www.apple.com/v/home/ds/images/heroes/iphone-x/iphone_x_medium.jpg');
	}
	.ipd{
		background-image: url('https://www.apple.com/cn/home/images/heroes/ipad_medium.jpg');
	}
	.pro{
		background-image: url('https://www.apple.com/cn/home/images/heroes/macbook-pro/macbook_pro_performance_medium.jpg');
	}
	.adv ul li:nth-child(1){
		background-image: url('https://www.apple.com/cn/home/images/promos/shop_for_college_medium.jpg');
	}
	.adv ul li:nth-child(2){
		background-image: url('https://www.apple.com/v/home/ds/images/promos/behind_the_mac_phoebe_medium.jpg');
	}
	.adv ul li:nth-child(3){
		background-image: url('https://www.apple.com/cn/home/images/promos/iphone_x_a11_medium.jpg');
	}
	.adv ul li:nth-child(4) .imgee{
		margin-top: 105px;
		background-image: url('https://www.apple.com/v/home/ds/images/promos/iphone_8_medium.jpg');
	}
	.adv ul li:nth-child(5){
		background-image: url('https://www.apple.com/cn/home/images/half-width-promos/trade_up_medium.jpg');
	}
	.adv ul li:nth-child(6) .imge{
		background-image: url('https://www.apple.com/cn/home/images/promos/three_rings_medium.jpg');
		margin-top: 50px;
	}
}
/* 小屏 */
@media screen and (max-width: 992px){
	.iphonex{
		background-image: url('https://www.apple.com/v/home/ds/images/heroes/iphone-x/iphone_x_small.jpg');
	}
	.ipd{
		background-image: url('https://www.apple.com/cn/home/images/heroes/ipad_small.jpg');
	}
	.pro{
		background-image: url('https://www.apple.com/cn/home/images/heroes/macbook-pro/macbook_pro_performance_small.jpg');
	}	
	
}
/* 小小屏 */
@media screen and (max-width: 768px){
	header{
        display: none;
    }
    .min{
        display: block;
    }
	.adv ul li{
		width: 100%;
	}
	.adv ul li:nth-child(1){
		background-image: url('https://www.apple.com/cn/home/images/promos/shop_for_college_small.jpg');
	}
	.adv ul li:nth-child(2){
		background-image: url('https://www.apple.com/v/home/ds/images/promos/behind_the_mac_phoebe_small.jpg');
	}
	.adv ul li:nth-child(3){
		background-image: url('https://www.apple.com/cn/home/images/promos/iphone_x_a11_small.jpg');
	}
	.adv ul li:nth-child(4) .imgee{
		background-image: url('https://www.apple.com/v/home/ds/images/promos/iphone_8_small.jpg');
		margin-top: 55px;
	}
	.adv ul li:nth-child(5){
		background-image: url('https://www.apple.com/cn/home/images/half-width-promos/trade_up_small.jpg');
	}
	.adv ul li:nth-child(6) .imge{
		margin-top: 50px;
		background-image: url('https://www.apple.com/cn/home/images/promos/three_rings_small.jpg');
	}
	footer{
		display: none;
	}
	.footer1{
		display: block;
	    width: 100%;
	    height: auto;
	    background: #f2f2f2;
	    padding: 0 17px;
	    box-sizing: border-box;
	    /*background: red;*/
	}
	.footer1 .big{
	    width: 100%;
	    /*height: 268px;*/
	    height: auto;
	    background: #f2f2f2;
	}
	.footer1 .big li{
	    width: 100%;
	    height: auto;
	    border-bottom: 1px solid #d6d6d6;
	    overflow: hidden;
	    cursor: pointer;
	}
	.footer1 .big li h3{
	    width: auto;
	    height: 100%;
	    font-size: 8px;
	    line-height: 37px;
	    color: #333;
	    float: left;
	}
	.footer1 .big li h2{
	    width: auto;
	    height: 100%;
	    font-size: 12px;
	    line-height: 37px;
	    color: #333;
	    float: right;
	    transition: all .5s;
	}
	.footer{
		width: 100%;
		height:130px; 
		padding-left: 15px;
		padding-right: 15px;
		background-color: #F2F2F2;
	}
	.footer .line{
		width: 100%;
		margin: 0 auto;
	}
	.footer .line .country{
		margin-top: 23px;
		float: left;
	}
	.footer .line .tw{
		margin-top: 50px;
	}
	.footer .line hr{
		display: none;
	}
	.footer1 .big li .small{
	    width: 100%;
	    height: 310px;
	    padding-top: 42px;
	    padding-left: 13px;
	    box-sizing: border-box;
	    /*display: none;*/
	}
	.footer1 .big li .small1{
	    height: 371px;
	}
	.footer1 .big li .small2{
	    height: 122px;
	}
	.footer1 .big li .small3{
	    height: 145px;
	}
	.footer1 .big li .small4{
	    height: 203px;
	}
	.footer1 .big li .small5{
	    height: 175px;
	}
	.footer1 .big li .small6{
	    height: 233px;
	}
	.footer1 .small li{
	    height: 28px;
	    border-bottom: none;
	}
	.footer1 .small li a{
	    width: 100%;
	    height: 100%;
	    color: #596368;
	    display: block;
	    font-size: 0.16px;
	}
	.footer1 .small li:hover a{
	    text-decoration: none;
	}
	.footer1 .small li{
	    line-height: 28px;
	}
}
